
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Share Tech', sans-serif;
}
.ztop {
  z-index: 3;
}
.zmiddle {
  z-index: 2;
}

.bg {
    width: 100%;
    height: 100%;
    background: url(../../images/backgroundimg.jpg) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    z-index: 1;
    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
  }
  .codebg {
    width: 100%;
    height: 100%;
    background: url(../../images/codeanimatedsmall.gif) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    -webkit-transition: transform .2s ease;
    -moz-transition: transform .2s ease;
    -ms-transition: transform .2s ease;
    transition: transform .2s ease;
  }
  .codebg.opened {
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }
  .codebg.closed  {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  /* Standard syntax */
  @keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
  }
 
.menulinks a {
  color: rgba(109, 204, 158, 1);
    font-size: 2vmax;
    text-decoration: none;
    transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
}
.menulinks a:hover {
    color: white;
    text-decoration: none;
    transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
}

ul {
    list-style-type: none;
}

.entirepage {
    height: 100%;
}
.bottom-left {
    position: absolute;
    bottom: 2%;
}
.mid-left {
    position: absolute;
    bottom: 50%;
}
.right-top {
    position: absolute;
    top: 6%;
    text-align: center;
}
.left-top {
    position: absolute;
    top: 5%;
}
.port-images img {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: auto;
    opacity: 1;
}
.port-images img:hover {
  opacity: .8;
}

.port-images {
    background-color: rgba(109, 204, 158, 1);
    border-radius: 5px;
    transition: visibility 1s linear, opacity 1s ease-out;
    opacity: 0;
    overflow-y: auto;
    height: 60vh;
}
.contactinfo {
  background-color: rgba(109, 204, 158, 1);
  border-radius: 5px;
  transition: visibility 1s linear, opacity 1s ease-out;
  opacity: 0;
  height: 15vmax;
  position: absolute;
  bottom: 10%;
}
.contactlinks {
  color: black;
  font-size: 1.5vmax;
  overflow-wrap: break-word;
}
.emaillink {
  font-size: 1.75vmax;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: color .5s ease-out;
  -webkit-transition: color .5s ease-in;
}
.emaillink:hover {
  color: white;
  text-decoration: none;
  transition: color .5s ease-out;
  -webkit-transition: color .5s ease-out;
}
.facebook {
  border-radius: 5px;
  background-color: rgba(59, 89, 152, 1);
  color: white;
  padding: 1vmin;
  font-size: 3.25vmin;
  transition: color .5s ease-out, background-color .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  
}
.facebook:hover {
  opacity: .8;
  transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
}
.github {
  color: black;
  font-size: 3.25vmin;
  background-color: white;
  border-radius: 5px;
  padding: 1vmin;
  transition: opacity .5s ease-out;
 -webkit-transition: opacity .5s ease-out;
}
.github:hover {
 opacity: .8;
 transition: opacity .5s ease-out;
 -webkit-transition: opacity .5s ease-out;
}
.medium {
  color: black;
  font-size: 3.25vmin;
  padding: 1vmin;
  border-radius: 5px;
  background-color: white;
  transition: opacity .5s ease-out;
 -webkit-transition: opacity .5s ease-out;
}
.medium:hover {
opacity: .8;
transition: opacity .5s ease-out;
-webkit-transition: opacity .5s ease-out;
}
.contactbubbles {
  position: absolute;
  bottom: 5%;
}
button {
    background-color: inherit;
    border: none;
    font-size: 2vmax;
    color: rgba(109, 204, 158, 1);
    transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
}
button:hover {
    color: white;
    text-decoration: none;
    transition: color .5s ease-out;
    -webkit-transition: color .5s ease-out;
}
button:focus {
    outline: none;
}

.glitch {
    position: relative;
    color: white;
    font-size: 3vmax;
  }

  @keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 red;
    top:0;
    color:white;
    background:black;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:white;
    background:black;
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }

  @media screen and (max-width: 900px) {
    .contactinfo {
      bottom: 6%;
    }
    .right-top {
      top: 6%;
      right: 2%;
      text-align: right;
  }
    .right-top button {
      margin-right: 5%;
    }
  }
  @media screen and (max-width: 768px) {
    .glitch:after, .glitch:before {
      animation: none;
    }
    .mid-left {
      position: absolute;
      bottom: 2%;
      right: 2%;
    }
    
  }

  @media screen and (max-width: 500px) {
    .glitch:after, .glitch:before {
      animation: none;
    }
    .contactlinks {
      font-size: 2vmax;
    }
    .emaillink {
      font-size: 3vmax;
    }
    .facebook {
      padding: 2vmin;
      font-size: 4vmin;
    }
    .github {
      font-size: 6vmin;
      padding: 1vmin;
    }
    .medium {
      font-size: 6vmin;
      padding: 1vmin;
    }
    .contactinfo {
      bottom: 12%;
    }
    button {
      font-size: 5vmin;
    }
    .mid-left a {
      font-size: 4vmin;
    }
    .glitch {
      font-size: 5vmin;
    }
    .right-top {
      top: 4.5%;
      right: 2%;
  }
  }